<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kasaysayan_ng_Pilipinas"
        tools:targetApi="31">
        <activity
            android:name=".PhilippineSelfRuleDescription"
            android:exported="false" />
        <activity
            android:name=".PhilippineSelfRuleVideo"
            android:exported="false" />
        <activity
            android:name=".AmericanVideo"
            android:exported="false" />
        <activity
            android:name=".AmericanDescription"
            android:exported="false" />
        <activity
            android:name=".JapaneseVideo"
            android:exported="false" />
        <activity
            android:name=".JapaneseDescription"
            android:exported="false" />
        <activity
            android:name=".SpanishVideo"
            android:exported="false" />
        <activity
            android:name=".SpanishDescription"
            android:exported="false" />
        <activity
            android:name=".PhilippineSelfRule"
            android:exported="false" />
        <activity
            android:name=".AmericanRule"
            android:exported="false" />
        <activity
            android:name=".JapaneseRule"
            android:exported="false" />
        <activity
            android:name=".japaneseRule"
            android:exported="false" />
        <activity
            android:name=".SpanishRule"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kasaysayan_ng_Pilipinas.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>